* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;    
	margin: 0px auto;
    background-color: rgb(245, 245, 245);
    padding-left: 5%;
}

h2 {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color:  rgb(245, 245, 245);
}

.nav-links {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.nav-links a{
    color: rgb(39, 38, 38);
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.15rem;
    font-weight: bolder;
}

.nav-links li {
    list-style: none;
}
.logo {
    color: rgb(39, 38, 38);
    letter-spacing: 2px;
    font-size: 2rem;
}

.navmenu {
    display: none;
    cursor: pointer;
}
.navmenu div{
    width: 15px;
    height: 2px;
    margin: 5px;
    background-color: rgb(38, 38, 38);
    transition: all 0.3s ease;
}

.one-third-featured {
    max-width: 33.3333333%;
    padding: 2%;
    float: left;
    
}

.one-third-featured img:hover{
    height: 500px;
    width: 500px;
    transform: scale(1.1);
    text-align: center;
}

img {
    text-align: center;
    max-width: 100%;
    height: 500px;
    width: 500px;
    object-fit: cover;
    transition: transform .2s;
}

p{
    text-align: center;
}

.clearfix {
    clear: both;
    padding-bottom: 3%;
}

/* .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .column {
    flex: 30%;
    max-width: 30%;
    margin: 10px;
  }
  
  .column img {
    width: 100%;
    padding-bottom: 15px;
  } */


@media screen and (max-width:1024px){
        .nav-links{
            width: 40%;
        }
        .nav-links{
            position: absolute;
            height: 80vh;
            top: 20vh;
            background-color: #E9E9E9;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            transform: translatey(100%);
            transition: transform 0.5s ease-in;
            opacity: 0;
            }
            .nav-links li {
                opacity: 0;
            }
            .nav-links a {
                font-size: 1.5rem;
            }
            .navmenu{
                display: block;
            }
            .logo {
                font-size: 1.75rem;
            }

}

@media screen and (max-width:768px){
    h2 {
        font-size: 1.5 rem;
    }
    
    .one-third-featured {
        max-width: 100%;
        padding: 4%;
        float: left;
        
    }
    img {
        width: auto;
        height: auto;
    }
    .one-third-featured img:hover{
        width: auto;
        height: auto;
    }
}
.nav-active{
    transform: translatey(0%);
    opacity: .75;
}

@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translatey(50px);  
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,5px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-5px);
}
