* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
	font-family: 'Montserrat', 'Montserrat';    
	margin: 0px auto;
    background-color: rgb(245, 245, 245);
    padding-right: 5%;
    padding-left: 5%;
}

.textcat {
    font-size: 1.5rem;
    text-align: center;
    color: rgb(53, 53, 53);
}

a { color: inherit;
    text-decoration: none;
} 

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color:  rgb(245, 245, 245);
}

.nav-links {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.nav-links a{
    color: rgb(39, 38, 38);
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.15rem;
    font-weight: bolder;
}

.nav-links li {
    list-style: none;
}

.navbar {
    display: none;
}

.logo {
    color: rgb(39, 38, 38);
    letter-spacing: 2px;
    font-size: 2.25rem;
}

.navmenu {
    display: none;
    cursor: pointer;
}
.navmenu div{
    width: 15px;
    height: 2px;
    margin: 5px;
    background-color: rgb(38, 38, 38);
    transition: all 0.3s ease;
}

.one-third-featured {
    max-width: 33.3333333%;
    padding: 2%;
    float: left;
    
}

.one-third-featured img:hover{
    height: 500px;
    width: 500px;
    transform: scale(1.05);
    text-align: center;
}

img {
    text-align: center;
    max-width: 100%;
    height: 500px;
    width: 500px;
    object-fit: cover;
    transition: transform .2s;
}

.photocat {
    clear: both;
    padding-bottom: 3%;

}

.contact {
    padding: 1%;
    text-align: center;
}

.socialmedia {
    list-style-type: none;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 5%;
}

.socialmedia li {
    display: inline;
    padding: 0.5rem;
}

.fa {
    text-decoration: none;
    color: rgb(39, 38, 38);
    transition: transform .2s;
  }

.fa:hover {
    transform: scale(1.3);
  }

@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translatey(50px);  
    }
    to {
        opacity: 1;
        transform: translatey(0px);
    }
}

@media screen and (max-width:950px){
        body {
            padding-right: 1.5%;
            padding-left: 1.5%;
        }
        .logo {
                font-size: 1.75em;
            }
        .nav-links {
            display: none;
        }
        .navbar {
            display: block;
            background-color: #E9E9E9;
            overflow: hidden;
            position: fixed;
            bottom: 0;
            max-width: 100%;
            list-style-type: none;
            text-align: center;
            padding: 1rem;
        }
        .navbar li{
            display: inline;
            padding: 1%;
        }
        .navbar img{
            max-width: 17%;
            height: auto;   
            transition: transform .2s;
        }
        .navbar img:hover{
            transform: scale(1.15);
        }
        .socialmedia {
            margin-bottom: 8rem;
        }    

}


@media screen and (max-width:768px){

    .one-third-featured {
        max-width: 100%;
        padding: 2%;
        float: left;   
    }
}
.nav-active{
    transform: translatey(0%);
    opacity: .75;
}

